html{ 
    
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    font-family:'Open Sans', sans-serif;
    
}

/*Header y navegacion*/
 
header {
    color:#000000;
    font-size:2rem;
    font-weight: 650;

}

header span{
    color:#da591a;
}

/* final del header*/

/* Navegacion */

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
}

.navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navegacion a {
  text-decoration: none;
  color:#000000;
  font-size:1.5rem;
  font-weight: bold;
  padding: 0 3rem;


}

/* end of navegacion*/

/* container*/

.container {
    display: flex;
    flex-direction: column;
    width:100%;
}

.section-1 {
  display: flex;
  flex-direction:row;
  width:100%;
  flex-basis: 50%;
}

.section-1 img {
  width: 40rem;
  flex-basis: 50%;
  padding-left: 20rem;
}

.menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menus h2 {
    font-size: 4rem;
    font-weight: bold;
    color:#000000;
    padding-bottom: 3rem;
    
}

.menus h2 span {
    color:#da591a;
}

.menus p {
  font-size: 2rem;
  padding-left: 3rem;
}

.menus img {
    width: 100%;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
    padding-left: 5rem;
    width: 100%;
}

.btns a{
 
 
  font-size: 1.5rem;
  padding-left: 2rem;
}

.btn-1 {
  background-color:#da591a ;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 50%;
  height: 4rem;
  color:#ffffff;
    
  
  
}

.btn-2 {
    color:#000000;
}

/* section-2*/


.section-2 {
    display: flex;
    flex-direction: column;
}

.cards-comida {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.card-comida {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: #ffffff;
    width: 15rem;
    
    
    
  
}

.card-comida p {
    background-color: #ffffff;
    
}

.card-comida a {
    background-color: #ffffff;
   
}

.comidas {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5rem;
    
}

.comidas a {
    text-decoration: none;
}

.titulo-2 {
    align-self: center;
    font-size: 3rem;
    padding-bottom: 3rem;
}

footer {
    width: 100%;
    height: 5rem;
    background-color:#ffffff ;
    align-items: center;
}

/* section-uno pagina 2 */
 .container-2 {
     display: flex;
     flex-direction: column;
 }

 /* section-uno */

.section-uno {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    
    
}
 
.section-uno img {
    width: 50rem;
    padding-left: 15rem;
    padding-top:15rem ;}

    

.text-menu {
    margin-left: 1rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}

.text-menu h2 span{
    color:#da591a;
}

.texto {
    margin-top: 2rem;
    text-align: center;
    line-height: 3.5rem;
    padding: 5rem;
}

.btn-food {
    display: block;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    background-color: #da591a;
}

/* section-dos */

.section-dos {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.section-dos h3 {
    color:#000000;
    font-size: 2rem;
    align-items: center;
    padding-left: 65rem;
}

.cards-hamburguesas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card-hamburguesa {
    padding: 10rem;
    
}

.card-hamburguesa img {
    width: 30rem;
}
.card-hamburguesa p {
    text-align: left;
    font-size: 2.5rem;

}

.card-hamburguesa a{
    font-weight: 300;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
    background-color: #da591a;
    padding: .5rem 4.5rem;
    border-radius: 1rem;
}

.btn-go {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.btn-go p {
    font-size: 1.5rem;
}

/* section-3*/

.section-tres h4 {
  font-size: 2rem;
  padding-bottom: 3rem;
  padding-left: 65rem;
}

.opiniones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.opiniones img {
    padding-left: 15rem;
    width: 50rem;
}
.opiniones p {
    font-size: 2rem;
    padding-top: 8rem;
    line-height: 3rem;
    padding-right:8rem ;
    text-align: justify;
}


/** footer**/

.main-footer {
    border-top:.2rem solid #e1e1e1;
    margin-top:.5rem;
    height: 100%;
    padding: 5rem;
    background-color: transparent;

}

.main-footer p {
    font-size: 1.5rem;
    text-align: center;
}


 
.site-footer {
  border-top:.2rem solid #e1e1e1;
  margin-top:.5rem;
 }

 .footer-contenedor {
     display: grid;
     grid-template-columns: repeat(5,1fr);
     padding-left: 15rem;
 }

 .navegacion-footer a {
     display: flex;
     flex-direction: column;
     color: #000000;
     text-decoration: none;
     padding-top: .4rem;
     font-weight: bold;
 }



